
<div
  class=""
  style="
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 15vh;
  "
>
  <select

    [(ngModel)]="selectedValue"

    style="
      background-color: #84ede1;
      color: #000000;
      padding: 2px 6px;
      border-radius: 6px;
      border: #000;
      height: 37.6px;
      margin-right: 10px;
    "
    onfocus="this.style.border='none'">


    <!-- <option value="noFilter" disabled selected>Tutti i pazienti</option> -->
    <option
      value="noFilter"
      style="
      margin: 40px;
      background: #fff;
      color: #000;
      text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);">
      Tutti i pazienti</option>

    <option
        value="moderate150"
        style="
        margin: 40px;
        background: #fff;
        color: #000;
        text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);">
        150m moderati
    </option>

    <option
        value="vigorous70"
        style="
        margin: 40px;
        background: #fff;
        color: #000;
        text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);">
        70m vigorosi
    </option>

    <option
      value="mixedIntensity"
      style="
      margin: 40px;
      background: #fff;
      color: #000;
      text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);">
      mix moderato/vigoroso
    </option>
  </select>

  <button class="btn btn-primary" (click)="go2patients()" style="margin-left: 10px;">
    Mostra Pazienti
  </button>
</div>

<router-outlet></router-outlet>


