<div style="
    width: 100vw;
    height: 120vh;
    display: flex;
    justify-content: center;
    align-items: center;
  ">
  <table class="table" style="width: 40%; border: 1px solid #000">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nome Cognome</th>
        <th scope="col">Genere</th>
        <th scope="col">info</th>
      </tr>
    </thead>
    <tbody *ngFor="let paziente of listaPazienti">
<!--       "background-color: rgb(189, 239, 189);"-->
<!--       "background-color: rgb(245, 191, 178);"-->
        <tr [ngStyle]="{'background-color': Moderate150Filter(paziente.summary)}">
        <th scope="row">{{ paziente.id }}</th>
        <td>{{ paziente.name }}</td>
        <td>{{ paziente.gender }}</td>
        <td>
          <a href="" style="
              color: #fff;
              text-decoration: none;
              background-color: #0dcaf0;
              padding: 2px 6px;
              border-radius: 6px;
              border: none;
              width: 60%;
              display: flex;
              justify-content: center;
              align-items: center;
            ">vai</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>




<!-- <p *ngIf="filtro==="tutti">

</p> -->
<p *ngIf="">


</p>
<p *ngIf="">

</p>
<p *ngIf="">

</p>
