<h4 style="display: flex; justify-content: center;">Filtro Selezionato: {{selectedFilter}}</h4>

<div
  style="width: 100vw; height: fit-content; display: flex; flex-direction:column; justify-content: center; align-items: center; vertical-align: middle">

  <div *ngIf="selectedFilter==='nessuno' || !selectedFilter">

    <table class="table" style="width: 40%; border: 1px solid #000">
      <thead>
        <tr style="align-items: center; vertical-align: middle" >
          <th scope="col">ID</th>
          <th scope="col">Nome Cognome</th>
          <th scope="col">Genere</th>
          <th scope="col">info</th>
        </tr>
      </thead>

      <tbody *ngFor="let paziente of listaPazienti">
        <tr style="background-color: #f4f4f4;">
          <th scope="row">{{ paziente.id }}</th>
          <td>{{ paziente.name }}</td>
          <td>{{ paziente.gender }}</td>
          <td>
            <button class="btn btn-primary" (click)="go2patient(paziente.id)">vai</button>
<!--             <a (click)="go2patient(paziente.id)">vai</a> -->
          </td>
        </tr>
      </tbody>
    </table>
  </div>


  <div *ngIf="selectedFilter==='moderate150'">
    <table class="table" style="width: 40%; border: 1px solid #000">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Nome Cognome</th>
          <th scope="col">Genere</th>
          <th scope="col">info</th>
        </tr>
      </thead>

      <tbody *ngFor="let paziente of listaPazienti">
        <tr [ngStyle]="{'background-color': moderate150Filter(paziente.summary)}">
          <th scope="row">{{ paziente.id }}</th>
          <td>{{ paziente.name }}</td>
          <td>{{ paziente.gender }}</td>
          <td>
            <button class="btn btn-primary" (click)="go2patient(paziente.id)">vai</button>
<!--             <a (click)="go2patient(paziente.id)">vai</a> -->
          </td>
        </tr>
      </tbody>
    </table>
  </div>


  <div *ngIf="selectedFilter==='vigorous70'">
    <table class="table" style="width: 40%; border: 1px solid #000">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Nome Cognome</th>
          <th scope="col">Genere</th>
          <th scope="col">info</th>
        </tr>
      </thead>

      <tbody *ngFor="let paziente of listaPazienti">
        <tr [ngStyle]="{'background-color': vigorous70Filter(paziente.summary)}">
          <th scope="row">{{ paziente.id }}</th>
          <td>{{ paziente.name }}</td>
          <td>{{ paziente.gender }}</td>
          <td>
            <button class="btn btn-primary" (click)="go2patient(paziente.id)">vai</button>
<!--             <a (click)="go2patient(paziente.id)">vai</a> -->
          </td>
        </tr>
      </tbody>
    </table>
  </div>


  <div *ngIf="selectedFilter==='mixedIntensity'">
    <table class="table" style="width: 40%; border: 1px solid #000">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Nome Cognome</th>
          <th scope="col">Genere</th>
          <th scope="col">info</th>
        </tr>
      </thead>

      <tbody *ngFor="let paziente of listaPazienti">
        <tr [ngStyle]="{'background-color': mixedFilter(paziente.summary)}">
          <th scope="row">{{ paziente.id }}</th>
          <td>{{ paziente.name }}</td>
          <td>{{ paziente.gender }}</td>
          <td>
            <button class="btn btn-primary" (click)="go2patient(paziente.id)">vai</button>
<!--             <a (click)="go2patient(paziente.id)">vai</a> -->
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
