a{
  color: #ffffff;
  text-decoration: none;
/*   background-color: #0dcaf0; */
/*   background-color: #57b9fe; */
  background-color: #0d6efd;
  padding: 2px 6px;
  border-radius: 6px;
  border: none;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

button{
  color: #ffffff;
  text-decoration: none;
/*   background-color: #0dcaf0; */
/*   background-color: #57b9fe; */
  background-color: #0d6efd;
  padding: 2px 6px;
  border-radius: 6px;
  border: none;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

div{
  width: 100vw;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}
