<div style="width: 100vw; height: fit-content; display: flex; flex-direction:column; justify-content: center; align-items: center;">
  <br>
  <h1 style="display: flex; justify-content: center;"><b>Benvenuto nel Trial sulle attività</b></h1>
  <br>
  <h3>Nella sezione "<b>Pazienti</b>" potrai visionare i pazienti del trial</h3>
  <h3>ed eventualmente filtrare i risulati in base alle attività.</h3>
  <h3>Nella sezione "<b>Definizioni</b>" potrai visionare le tipologie di attività svolte.</h3>
</div>
