<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand"
  style="display: flex; justify-content: center;align-items: center; margin-top: 5px;"
  (click)="go2homepage()">
  <h1 style="font-size: 62px;">
    {{"Hospital Trial" }}
  </h1></a>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" (click)="go2pazienti()">Pazienti</a>
      <a class="nav-item nav-link" (click)="go2definitions()">Definizioni</a>
    </div>
  </div>
</nav>
